<!-- {% extends 'base.html' %}

{% block content %}
<div class="form-container">
    <h2>Edit Job: {{ job.title }}</h2>
    <form method="post" class="auth-form">
        {% csrf_token %}
        <div class="form-field">
            {{ form.as_p }}
        </div>
        <button type="submit" class="auth-btn">Save Changes</button>
        <a href="{% url 'organization_dashboard' %}" class="auth-btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %} -->
<!-- <a href="{% url 'edit_job' job.pk %}" class="btn1 btn-primary1">Edit</a> -->